<h1>New Tokimon</h1>
<strong>Available Trainers (ID):</strong>

<select onchange="displayInBox()" id="trainerVal">
<% @trainers.each do |ter| %>
	<option value=<%= ter.id %>> <%= ter.name %> (<%= ter.id %>) </option>
<% end %>
</select>

<script type="text/javascript">
	$(document).ready(function() {
		$('#tokimon_trainer_id').val($('#trainerVal option:selected').val());
		$('.sum').on('input',function() {
			$('#tokimon_total').val(generateSums())
		});
	});

	function displayInBox() {
		$('#tokimon_trainer_id').val($('#trainerVal option:selected').val());
	}

	function generateSums() {
		//select our first sum class
		var currSum = $('.sum');
		var total = 0;

		//keep checking if we are still on a class that needs summing
		while (currSum.is('.sum'))  {
			//if the input field in the div class is not empty
			if (currSum.find('input').val() != '') {
				//add the total
				total += parseInt(currSum.find('input').val());
			}
			//traverse the siblings
			currSum = currSum.next($('.sum'));
		}
		return total;
	}

</script>

<%= render 'form', tokimon: @tokimon %>


<%= link_to 'Back', tokimons_path %>