<p id="notice"><%= notice %></p>

<img id="tokimonImg" src="<%= @roboHashLink %>" alt="Placeholder" height="300" width="300">


<div id="tokimonAttributes" >

  <p>
    <strong>Trainer:</strong>
    <%= link_to @tokimon.trainer.name, @tokimon.trainer %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @tokimon.name %>
  </p>


  <p>
    <strong>Weight:</strong>
    <%= @tokimon.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= @tokimon.height %>
  </p>


    <div class="tooltip">
      <strong>Fly:</strong>
      <%= @tokimon.fly %>

      <span class="tooltiptext">

        <% if @tokimon.isSkillTop("fly", @tokimon.fly) %>
          <%= "Your skill is rated in the top 1%" %>
        <% else %>
        <p> Your skill is rated in the top <%= @tokimon.getSkillPct("fly", @tokimon.fly) %> %  </p>
        <% end %>

      </span>

    </div>

    <p></p>


      <div class="tooltip">
        <strong>Fight:</strong>
        <%= @tokimon.fight %>

        <span class="tooltiptext">

        <% if @tokimon.isSkillTop("fight", @tokimon.fight) %>
          <%= "Your skill is rated in the top 1%" %>
        <% else %>
        <p> Your skill is rated in the top <%= @tokimon.getSkillPct("fight", @tokimon.fight) %> %  </p>
        <% end %>

      </span>

    </div>
    <p></p>


      <div class="tooltip">
        <strong>Water:</strong>
        <%= @tokimon.water %>

        <span class="tooltiptext">

        <% if @tokimon.isSkillTop("water", @tokimon.water) %>
          <%= "Your skill is rated in the top 1%" %>
        <% else %>
        <p> Your skill is rated in the top <%= @tokimon.getSkillPct("water", @tokimon.water) %> %  </p>
        <% end %>

      </span>

    </div>
    <p></p>


      <div class="tooltip">
        <strong>Fire:</strong>
        <%= @tokimon.fire %>

        <span class="tooltiptext">

        <% if @tokimon.isSkillTop("fire", @tokimon.fire) %>
          <%= "Your skill is rated in the top 1%" %>
        <% else %>
        <p> Your skill is rated in the top <%= @tokimon.getSkillPct("fire", @tokimon.fire) %> %  </p>
        <% end %>

      </span>

    </div>
    <p></p>


      <div class="tooltip">
        <strong>Electric:</strong>
        <%= @tokimon.electric %>

        <span class="tooltiptext">

        <% if @tokimon.isSkillTop("electric", @tokimon.electric)%>
          <%= "Your skill is rated in the top 1%" %>
        <% else %>
        <p> Your skill is rated in the top <%= @tokimon.getSkillPct("electric", @tokimon.electric) %> %  </p>
        <% end %>

      </span>

    </div>
    <p></p>


      <div class="tooltip">
        <strong>Freeze:</strong>
        <%= @tokimon.freezer %>

        <span class="tooltiptext">

        <% if @tokimon.isSkillTop("freezer", @tokimon.freezer) %>
          <%= "Your skill is rated in the top 1%" %>
        <% else %>
        <p> Your skill is rated in the top <%= @tokimon.getSkillPct("freezer", @tokimon.freezer)%> %  </p>
        <% end %>

      </span>

    </div>
    <p></p>


      <div class="tooltip">
        <strong>Total:</strong>
        <%= @tokimon.total %>

        <span class="tooltiptext">

        <% if @tokimon.isSkillTop("total", @tokimon.total) %>
          <%= "Your total is rated in the top 1%" %>
        <% else %>
        <p> Your total is rated in the top <%= @tokimon.getSkillPct("total", @tokimon.total) %> %  </p>
        <% end %>

      </span>

    </div>
</div>

<%= link_to 'Edit', edit_tokimon_path(@tokimon) %> |
<%= link_to 'Back', tokimons_path %>
