<p id="notice"><%= notice %></p>

<h1>Trainers</h1>


<div class="centerText">
<%= link_to 'New Trainer', new_trainer_path %>
</div>
<div class="leaderBoard">

  <ul class="trainerBoard">
    <div class="trainerTableHeaders">'
      <li>Name</li>
      <li>Level</li>
      <li>Tokimon Count</li>
      <li></li>
    </div>
    <br/>
    <% @trainers.each do |trainer| %>
      <li> <%= link_to trainer.name, trainer %> </li>  
      <li> <%= trainer.level %> </li>
      <li> <%= trainer.tokimons.length %> </li>
      <li><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'This will also delete all tokimon belonging to the trainer. Are you sure?' } %></li>
      <br/>
          
        <div class="spacer"></div>
    <% end %>
  </ul>
</div>
<br>

<script type="text/javascript">
  $(document).ready(function() {

    $(".tokimonBoard").hide();
    $(".switchbox").click(function(){
      $(".tokimonBoard").slideToggle();
      console.log($(this));
      return;
      //$(this).slideToggle();
    });

  });
</script>

<div class="centerText">
<%= link_to 'New Trainer', new_trainer_path %>
</div>
