<p id="notice"><%= notice %></p>

<div class="trainerHeaders">

  <p>
    <strong>Name:</strong>
    <%= @trainer.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= @trainer.level %>
  </p>


  <p>
    <strong>Tokimon Count:</strong>
    <%= @trainer.tokimons.length %>
  </p>


</div>


<div class="maintokimonlist">
  <table class="maintokimontable">
    <thead>
      <tr>
        <th>Id</td>

        <th>Name</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Fly</th>
        <th>Fight</th>
        <th>Water</th>
        <th>Fire</th>
        <th>Electric</th>
        <th>Freezer</th>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trainer.tokimons.each do |tokimon| %>
        <tr>
          <td id="scrollToVal"><%= tokimon.id %></td>
          <td><%= link_to tokimon.name, tokimon %></td>
          <td><%= tokimon.weight %></td>
          <td><%= tokimon.height %></td>
          <td><%= tokimon.fly %></td>
          <td><%= tokimon.fight %></td>
          <td><%= tokimon.water %></td>
          <td><%= tokimon.fire %></td>
          <td><%= tokimon.electric %></td>
          <td><%= tokimon.freezer %></td>
          <td><%= tokimon.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>





<br/>
<br/>
<br/>


<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
